@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --foreground-light-rgb: 150, 150, 150;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --border-rgb: 173, 173, 173;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  -webkit-font-smoothing: antialiased;
}

@layer components {
  .my-container {
    @apply px-4 m-auto md:px-6;
  }
  .clickable {
    @apply cursor-pointer hover:opacity-100 active:opacity-80 transition-all duration-75 ease-out;
  }
  .form {
    @apply bg-white rounded-md px-[14px] py-[8px] placeholder-[foreLight];
  }
  .keep-height {
    @apply h-full flex flex-col justify-stretch;
  }
}

.beacon-dot {
  background-color: #ff4b4b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 rgba(255, 75, 75, 0.4);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 75, 75, 0.4);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 75, 75, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 75, 75, 0);
  }
}
